.example-card{
    background-color: rgba(244, 234, 238, 0.9);
    transition: all 0.3s linear;
    position: relative;
    width: 100%;
    overflow: hidden;
    
}
.img-fluid{
    object-fit: cover;
}

.example-card:hover .info {
    top: 0;
    
}
.title-1{
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 8px;
}

.star{
    color:goldenrod;
}
.info{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(235, 199, 199);
  color: #111111;
  padding: 15px;
  transition: all 0.4s ease;
}

.subtitle{
    font-size: 15px;
    text-transform: uppercase;
}

.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: goldenrod;
}