
<div class="row">
    <div class="col-12">
        <h2 class="text-info">
           1). Language List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let lang of  langs ">
               I want to master [{{lang}}] 
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          2).  Items List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of  items ">
           {{item}}
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          3).  Hobbies List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let hobby of  hobbies; let i =index">
             "{{i+1}} . {{hobby}}""
            </li>" 
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          4).  fruits List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let fruit  of  fruits">
            I eat Apple {{fruit}}
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          5).  fruits List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let language  of  fruits">
            <strong>{{language}}</strong>
            </li>" 
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          6). Framwork List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let framework  of  frameworks">
                 I will study <a href="">{{framework.name}} , {{framework.url}} </a>  

     
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          7).Tasks List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let task  of  tasks">
                {{task}}
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          8). Movies List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let  movie  of movies">
               {{movie.title}} - Rating: {{movie.rating}}
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          9).Employees List
        </h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let  employee  of employees">
               {{employee.name}} ({{employee.role}})
            </li>
        </ul>
    </div>
</div>


<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          10).Colors List
        </h2>
        <ul class="list-group">
            <div >
             <li class="list-group-item" *ngFor="let color  of colors ">
              {{color}}
            </li>
            </div>
        </ul>
    </div>
</div>




        <h2 class="text-info">
          11). employees2 table
        </h2>
        <div class="table-responsive">
            <table class=" table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr. no.</th>
                        <th>Name</th>
                        <th>Dept</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of  employees2 ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.dept}}</td>
                        <td>{{emp.email}}</td>
                    </tr>
                </tbody>
           </table>
        </div>
        
 
        
<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-info">
          12).Product  List
        </h2>
        <ul class="list-group">
            <div >
             <li class="list-group-item" *ngFor="let product  of products ">
              {{product.title}} | {{product.price}}
            </li>
            </div>
        </ul>
    </div>
</div>
     
        
        <h2 class="text-info">
          13). employees2 table
        </h2>
        <div class="table-responsive">
            <table class=" table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr. no.</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th> Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of  books ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td>
                    </tr>
                </tbody>
           </table>
        </div>

        
        <h2 class="text-info">
          14).  Earnings table
        </h2>
        <div class="table-responsive">
            <table class=" table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr. no.</th>
                        <th>Month</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let  earning of  earnings ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{earning.month}}</td>
                        <td>{{earning.amount}}</td>
                        
                    </tr>
                </tbody>
           </table>
        </div>
 

        <h2 class="text-info">
          15). Status table
        </h2>
        <div class="table-responsive">
            <table class=" table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr. no.</th>
                        <th>Title</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let  task of  tasks2 ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ task.title}}</td>
                        <td>{{task.status}}</td>
                    </tr>
                </tbody>
           </table>
        </div>

        
        <h2 class="text-info">
          16). Courses table
        </h2>
        <div class="table-responsive">
            <table class=" table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr.no.</th>
                        <th>Course Name</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let  course of  courses ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ course.name}}</td>
                        <td>{{course.duration}}</td>
                    </tr>
                </tbody>
           </table>
        </div>