

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  spaceMission of  spaceMissions">
         <div class="card h-100">
            <div class="card-header">
                {{spaceMission.title}}
            </div>
            <div class="card-body">
                {{spaceMission.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<hr>


<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  worldCuisine of worldCuisines">
         <div class="card h-100">
            <div class="card-header">
                {{ worldCuisine.title}}
            </div>
            <div class="card-body">
                {{ worldCuisine.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  mountainRange of mountainRanges">
         <div class="card h-100">
            <div class="card-header">
                {{ mountainRange.title}}
            </div>
            <div class="card-body">
                {{ mountainRange.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  famousAuthor of famousAuthors">
         <div class="card h-100">
            <div class="card-header">
                {{ famousAuthor.title}}
            </div>
            <div class="card-body">
                {{ famousAuthor.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let    prehistoricAnimal  of   prehistoricAnimals ">
         <div class="card h-100">
            <div class="card-header">
                {{   prehistoricAnimal.title}}
            </div>
            <div class="card-body">
                {{  prehistoricAnimal.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let   famousInvention of  famousInventions">
         <div class="card h-100">
            <div class="card-header">
                {{ famousInvention.title}}
            </div>
            <div class="card-body">
                {{ famousInvention.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  movieGenre of  movieGenres">
         <div class="card h-100">
            <div class="card-header">
                {{ movieGenre.title}}
            </div>
            <div class="card-body">
                {{ movieGenre.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let   musicalGenre of  musicalGenres">
         <div class="card h-100">
            <div class="card-header">
                {{  musicalGenre.title}}
            </div>
            <div class="card-body">
                {{  musicalGenre.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  techInnovation of techInnovations">
         <div class="card h-100">
            <div class="card-header">
                {{ techInnovation.title}}
            </div>
            <div class="card-body">
                {{ techInnovation.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  famousRiver of famousRivers ">
         <div class="card h-100">
            <div class="card-header">
                {{ famousRiver.title}}
            </div>
            <div class="card-body">
                {{ famousRiver.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let ancientStructure of ancientStructures">
         <div class="card h-100">
            <div class="card-header">
                {{ancientStructure.title}}
            </div>
            <div class="card-body">
                {{ancientStructure.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let  boardGame of  boardGames">
         <div class="card h-100">
            <div class="card-header">
                {{ boardGame.title}}
            </div>
            <div class="card-body">
                {{ boardGame.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let musicalInstrumentsWorlds of musicalInstrumentsWorld">
         <div class="card h-100">
            <div class="card-header">
                {{ musicalInstrumentsWorlds.title}}
            </div>
            <div class="card-body">
                {{ musicalInstrumentsWorlds.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let festivalsWorlds of festivalsWorld ">
         <div class="card h-100">
            <div class="card-header">
                {{festivalsWorlds.title}}
            </div>
            <div class="card-body">
                {{festivalsWorlds.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let wondersOfNatures of wondersOfNature ">
         <div class="card h-100">
            <div class="card-header">
                {{wondersOfNatures.title}}
            </div>
            <div class="card-body">
                {{wondersOfNatures.content}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-info">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
         </div>
    </div>
</div>